body {
  padding: 0 0;
}

.App {
  text-align: center;
}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 72px;
  letter-spacing: 2px;
  color: #0ccac4;
  text-align: center;
  cursor: pointer;
  animation-name: header;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes header {
from {color:#0ccac4;}
to {color: #90eeeb;}
}